<!--Edit this template with a custom prompt screen. You can assume the user is
    going to agree and start the experiments, or disagree and not.-->
<p>Welcome to the Experiment Factory! Today you will be completing a set 
of behavioral experiments. This participation is voluntary and you can stop at
any time. This portal is protected and requires entry of your token to continue.
By continuing beyond this screen, you agree to abide by the terms set out by the
the manager of this protocol that issued the token.</p>
