{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-md-12">

                <div class="modal fade"
                     id="instructions_modal"
                     tabindex="-1" 
                     data-backdrop="static" 
                     role="dialog" 
                     aria-labelledby="instructions_modal_label" 
                     aria-hidden="false"
                     style="margin-top:200px">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h4 class="js-title-step"></h4>
                             </div>

                         <div class="modal-body" style='padding:20px'>
   
                         <h2>Welcome!</h2>
                         {% include "routes/entry_message.html" %}


                         <br>
                         <form action="/login" method="POST" name='form'>
                            {{ form.hidden_tag() }}

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                           <div class="form-group">
                               <input id='token' 
                                      type="text" 
                                      class="form-control" 
                                      name='token'
                                      placeholder="Enter your token">
                           </div>

                           {% for error in form.token.errors %}
                               <span style="color: red;">[{{ error }}]</span>
                           {% endfor %}<br>

                           {% if message %}
                               <span style="color: red;">[{{ message }}]</span>
                           {% endif %}<br>

                         <br>
                         </div>
                         <div class="modal-footer">
                             <button type="submit"
                                     class="btn btn-default js-btn-step" 
                                     data-orientation="next">Start</button>
                         </div>
                      </form>
             </div>
         </div>
     </div>

     <button type="button" 
             id="modalToggle"
             class="btn btn-primary btn-lg hidden"
             data-toggle="modal"
             data-target="#instructions_modal" hidden></button>
     </div>
</div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#modalToggle").click()
})
</script>
{% endblock %}
