<!--Edit this template with a custom prompt screen. You can assume the user is
    going to agree and start the experiments, or disagree and not.-->
<p>Welcome to the Experiment Factory! Today you will be completing a set 
of behavioral experiments. This participation is voluntary and you can stop at
any time. By continuing beyond this screen, you agree
to abide by the terms set out on the portal page, and that you have been
granted permission and given consent per the conditions of the manager of
this protocol.</p>
