<style>
/* Tiny little pieces! */
svg:hover,
svg:focus {
  text-decoration: none;
  color: #999; 
}

#littlepieces {
  position: absolute !important:
  top: 400px;
}

.tip {
  text-decoration: none;
}

.tagline1 {
  position: absolute;
  left: 12%;
  top: 15%;
}

.tagline2 {
  position: absolute;
  left: 55%;
  top: 80%;
}

.title {
  position: absolute;
  left: 8%;
  top: 5%;
}

/* Center */
.experiment {
  font-size:32;
  position: absolute;
  left: 33%;
  top: 50%;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> 
<script src="{{ url_for('static',filename='js/tipsy.js') }}"></script>
<script>
// Tooltips
var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<a id='github-"+ d.exp_id +"' href='https://www.github.com/expfactory-experiments/" + d.exp_id + "' target='_blank'><strong><span style='color:black;text-decoration:none'>" + d.exp_id +"</span></a>";
})

// D3
// Colors to match primary paint colors
var colors = ["brown","#E9AB17","#1756E8"]

var n = 1; // number of distinct clusters (classes)
var m = {{ experiments | length }} // total objects

var nodes = [{% for experiment in experiments %} {"cluster": 1, "radius": "10", "color": colors[{{ loop.cycle('0', '1','2') }}], "exp_id": "{{ experiment }}" }{{ "," if not loop.last }} {% endfor %} ];

var width = 400,
    height = 220,
    padding = 20, // separation between nodes
    maxRadius = 50;

var x = d3.scale.ordinal()
    .domain(d3.range(m))
    .rangePoints([0, width], 1);

var nodes = d3.range(m).map(function(ii) {
  var i = nodes[ii].cluster,
      v = (i + 1) / m * -Math.log(Math.random());
  return {
    radius: Math.max(10,Math.sqrt(v) * maxRadius),
    color: nodes[ii].color,
    exp_id: nodes[ii].exp_id,
    cy: x(ii),
    cx: width / 2
  };
});

var force = d3.layout.force()
    .nodes(nodes)
    .size([width, height])
    .gravity(0)
    .charge(0)
    .on("tick", tick)
    .start();

var svg = d3.select("#littlepieces").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.call(tip);

var circle = svg.selectAll("rect")
    .data(nodes)
  .enter().append("rect")
    .attr("width", function(d) { return d.radius; })
    .attr("height", function(d) { return d.radius; })
    .style("fill", function(d) { return d.color; })
    .on('mouseout.tip', tip.hide)
    .on('mouseover.tip', tip.show)
    .on('click', function(d){
        var url = $('#github-' + d.exp_id).attr('href');
        window.open(url);
    })
    .call(force.drag);

function tick(e) {
  circle
      .each(gravity(.2 * e.alpha))
      .each(collide(.5))
      .attr("x", function(d) { return d.x = Math.max(d.radius, Math.min(width - d.radius, d.x)); })
      .attr("y", function(d) { return d.y = Math.max(d.radius, Math.min(height - d.radius, d.y)); });
}

// Move nodes toward cluster focus.
function gravity(alpha) {
  return function(d) {
    d.y += (d.cy - d.y) * alpha;
    d.x += (d.cx - d.x) * alpha;
  };
}

// Resolve collisions between nodes.
function collide(alpha) {
  var quadtree = d3.geom.quadtree(nodes);
  return function(d) {
    var r = d.radius + maxRadius + padding,
        nx1 = d.x - r,
        nx2 = d.x + r,
        ny1 = d.y - r,
        ny2 = d.y + r;
    quadtree.visit(function(quad, x1, y1, x2, y2) {
      if (quad.point && (quad.point !== d)) {
        var x = d.x - quad.point.x,
            y = d.y - quad.point.y,
            l = Math.sqrt(x * x + y * y),
            r = d.radius + quad.point.radius + (d.color !== quad.point.color) * padding;
        if (l < r) {
          l = (l - r) / l * alpha;
          d.x -= x *= l;
          d.y -= y *= l;
          quad.point.x += x;
          quad.point.y += y;
        }
      }
      return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
    });
  };
}
</script>
