<h4>Resources</h4><br>
<div class="list-group">
    <a href="https://expfactory.github.io/experiments/" target="_blank" class="list-group-item list-group-item-action">Expfactory Experiment Library</a>
    <a href="https://www.github.com/expfactory-experiments" target="_blank" class="list-group-item list-group-item-action">Experiments Github Organization</a>
    <a href="https://www.github.com/expfactory/expfactory/issues" target="_blank" class="list-group-item list-group-item-action">Get Help</a>
    <a href="https://expfactory.github.io" target="_blank" class="list-group-item list-group-item-action">Documentation</a>
</div>

