<h2>The Experiment Factory</h2>
<hr>

<h4>By using the Experiment Factory software you are agreeing to be bound by these terms, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this software. The materials contained in this website are protected by applicable copyright and trademark law.</h4>

<h3>1. The Experiment Factory Service</h3>
<h4>As used in this Agreement, "The Experiment Factory" means a hosted service that deploys web-based, reproducible behavioral experiments on behalf of an institution or individual. An instance of an Experiment Factory web interface can be accessed through modern internet browser applications, and its Application Programming Interface through a Linux command line. Except for the rights granted in this Agreement, You, have no right, title, or interest in or to the Experiment Factory. You agree that the licensors retain all proprietary right, title and interest, including copyright and all other intellectual property rights, in and to the Experiment Factory.</h4>

<h4>2. Use License</h4>
<h4>This software is protected under a BSD 3-Clause License, Copyright (c) 2017, Vanessa Sochat All rights reserved.</h4>

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

<ul>
<li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li>
<li>Redistributions in binary form must reproduce the above copyright notice,  this list of conditions and the following disclaimer in the documentation  and/or other materials provided with the distribution.</li>
<li>Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from  this software without specific prior written permission.</li>
</ul>

<h4>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</h4>

<h4>This license shall automatically terminate if you violate any of these restrictions and may be terminated by The Experiment Factory at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</h4>

<hr>

<h3>3. Code of Conduct</h3>
<h4>In addition to any other terms and conditions of this Agreement, YOU AGREE TO ABIDE BY THE FOLLOWING RULES IN CONNECTION WITH YOUR ACCESS TO AND/OR USE OF The Experiment Factory:</h4>

<ul>
<li>You will not use The Experiment Factory in any manner or for any purpose other than as expressly permitted by this Agreement, the then current published written or electronic documentation specifying the functionality of The Experiment Factory made generally available to users.</li>
<li>You will not sell, lend, rent, resell, lease, or sublicense The Experiment Factory to any third party.</li>
<li>You will not modify, alter, tamper with, repair or otherwise create derivative works of any software used to provide The Experiment Factory.</li>
<li>You will not reverse engineer, disassemble or decompile The Experiment Factory.</li>
<li>You will not remove, obscure or alter any proprietary right notice related to The Experiment Factory.</li>
<li>You will not use The Experiment Factory to send unsolicited or unauthorized junk mail, spam, chain letters, pyramid schemes or any other form of duplicative or unsolicited messages.</li>
<li>You will not store or transmit Content: (1) that is illegal to store or transmit; (2) containing unlawful, defamatory, threatening, pornographic, abusive, or libelous material, (3) containing any material that encourages conduct that could constitute a criminal offense, (4) that violates the intellectual property rights or rights to the publicity or privacy of others, or (5) that contains malicious code.</li>
You will not interfere with or disrupt servers, networks or other equipment connected to or used to support an instance of The Experiment Factory, or violate the regulations, policies or procedures of such networks.</li>
<li>You will not access or attempt to access other accounts hosted by The Experiment Factory or other computer systems or networks not covered by this Agreement, for which you do not have permission, through password mining or any other means.</li>
<li>You will not share passwords or other access information or devices or otherwise authorize any third party to access or use The Experiment Factory on Your behalf.</li>
<li>You represent, warrant and covenant that You have all necessary rights in and to allh Content You upload to The Experiment Factory or otherwise create using The Experiment Factory, and that the storage and display of such Content on The Experiment Factory is proper and legal.</li>
<li>You will not initiate a denial of service attack from or against a The Experiment Factory or release a virus, trojan horse, worms or other malware or spyware from or against a The Experiment Factory.</li>
<li>You will not use The Experiment Factory to engage in fraudulent or criminal activity.</li>
<li>You will not use The Experiment Factory to perpetrate a hoax or engage in phishing schemes or forgery or other similar falsification or manipulation of data.</li>
<li>You will not use The Experiment Factory to abuse, harass, stalk, threaten, or otherwise violate the legal rights of others.</li>
<li>You will not use The Experiment Factory to libel or defame others.</li>
<li>You will not use the The Experiment Factory to store, host, view or distribute child pornography. </li>
<li>You will not use The Experiment Factory to misrepresent Your identity or impersonate any person.</li>
<li>You will not use The Experiment Factory for commercial purposes.</li>
<li>You will abide by reasonable administrative directives issued by Singularity developers from time to time concerning the access, best practice, or use of a The Experiment Factory.</li>
<li>You will not use or launch any automated system, including without limitation, "robots," "spiders," or "offline readers," that accesses a The Experiment Factory in a manner that sends more request messages to The Experiment Factory servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser. </li>
<li>You agree not to collect or harvest any personally identifiable information, including account names, from The Experiment Factory, nor to use the communication systems provided by the Service for any commercial solicitation purposes.</li>
<li>You agree not to solicit, for commercial purposes, any users of The Experiment Factory with respect to their Content.</li>
</ul>

<hr>
<h3>4. Disclaimer</h3>
<h4>The materials provided by the The Experiment Factory software and website are provided on an 'as is' basis. The Experiment Factory makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</h4>

<h4>Further, The Experiment Factory does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</h4>


<h3>5. Limitations</h3>
<h4>In no event shall The Experiment Factory or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on The Experiment Factory's software, even if The Experiment Factory or an authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</h4>

<h3>6. Accuracy of materials</h3>
<h4>The materials appearing on The Experiment Factory's website could include technical, typographical, or photographic errors. The Experiment Factory does not warrant that any of the materials on its website are accurate, complete or current. The Experiment Factory may make changes to the materials contained on its website at any time without notice. However The Experiment Factory does not make any commitment to update the materials.</h4>

<h3>7. Links</h3>
<h4>The Experiment Factory has not reviewed all of the sites linked to its software and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by The Experiment Factory of the site. Use of any such linked website is at the user's own risk.</h4>

<h3>8. Modifications</h3>

<h4>The Experiment Factory may revise these terms of service for its website at any time without notice. By using this software you are agreeing to be bound by the then current version of these terms of service.</h4>

<h3>9. Governing Law</h3>

<h4>These terms and conditions are governed by and construed in accordance with the laws of CA and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</h4>

<h3>10. Contact Us</h3>

<h4>If you have any questions about these Terms, please contact us.</h4>

