.experiment-ribbon {
  width: 100%;
  height: 40vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.experiment-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.experiment-header .mdl-layout__header-row {
  padding-left: 40px;
}

.experiment-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.experiment-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.experiment-layout.is-small-screen .experiment-content {
  padding: 40px 28px;
}

.experiment-content h3 {
  margin-top: 48px;
}

.experiment-footer {
  padding-left: 40px;
}

.experiment-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

#next_button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.mdl-radio__label {
  padding-right:20px;
}

/* Jquery Wizard */

#navigation {
    background-color: #fff;
    border: #ddd 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#navigation li {
    margin: 2px 0;
}

label.error {
    color: #ff0000;
    margin-left: 10px;
    position: relative;
}

#progressbar {
    margin: 10px 0;
    width: 400px;
    height: 15px;
}


.navigation {
    margin-top: 50px;
    padding-top: 10px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    float: left;
    margin-right: 10px;
}

.pad {
    margin-top:30px;
    padding: 5px;
}

.blue {
    background: blue;
    color: white;
}

.pink {
    background: pink;
    color: black;
}

.mdl-radio__label {
  display: inline-block;
    width: 10em;
    padding-top: 1.5em;
    transform: translate(-53%,0%);
    text-align: center;
}

.mdl-radio {
	float: left;
	width: 100px;
	margin-left: 48px;
}

.experiment-content {
  border-radius: 2px;
  padding: 100px 180px 100px;
  margin-bottom: 80px;
}

.mdl-cell--8-col, .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.mdl-cell--2-col, .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {
  width: calc(0%)
}

.wizard-step {
  margin-left: auto;
  margin-right: auto;
}


body {
	line-height: 25px;
}

p {
	font-weight: bold;
}

/* Add gray line for Likert */

form p:before {
  content: '';
  position:relative;
  top:53px;
  left:61px;
  display:block;
  background-color:#efefef;
  height:4px;
  width:888px;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
  background-color:transparent;
}

.mdl-radio__outer-circle{
  background-color:white;
}

