{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-sm-5 left-wrapper">
                <div class="event-banner-wrapper">
                    <div class="logo">
                        <h1>Stage</h1>
                    </div>
                    <img src="{{ url_for('static',filename='img/expfactoryticketyellow.png') }}" 
                         style="width:50%; margin-bottom:50px;">
                    <img src="{{ url_for('static',filename='img/tinypeople.png') }}" 
                         style="width:100%; position: absolute; bottom: 0px; left:0px">             
                    <p><a class="expfactory-blue"
                          style="margin:auto"
                          href="https://www.github.com/expfactory/expfactory" 
                          target="_blank">the experiment factory</a></p>
                </div>
            </div>
            <div class="col-sm-7 right-wrapper">
                <div class="event-ticket-wrapper">
                    
                    <div class="event-tab">
                
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#doExperiments" aria-controls="doExperiments" role="tab" data-toggle="tab">Experiments</a></li>
                    <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
                    <li role="presentation"><a href="#termCondition" aria-controls="termCondition" role="tab" data-toggle="tab">Terms & Conditions</a></li>
                  </ul>
                
                  <!-- Experiments Panel -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="doExperiments">
                        <div class="row">

                           {% for experiment, metadata in experiments.items() %}
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="50000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="ticket-name">
                                                {{ experiment }}
                                                <span><br></span>
                                            </div>
                                        </div>                                    
                                        <div class="col-xs-6">
                                            <div class="ticket-price-count-box">
                                                <div class="ticket-control">
                                                    <div class="input-group">
                                                      <span class="input-group-btn">
                                                          <button type="button" 
                                                                  class="btn btn-default btn-number experiment-select-button experiment-unselected" 
                                                                  data-type="plus" 
                                                                  style="float:right">
                                                              <span class="glyphicon glyphicon-plus"></span>
                                                          </button>
                                                      </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ticket-description">
                                        {% if metadata.exp_id %}<p><strong>Expfactory ID: </strong>{{ metadata.exp_id }}</p>{% endif %}
                                        {% if metadata.time %}<p><strong>Time</strong>: {{ metadata.time }} minutes</p>{% endif %}
                                        {% if metadata.template %}<p><strong>Template: </strong>{{ metadata.template }}</p>{% endif %}
                                        {% if metadata.url %}<p><strong>URL</strong>: {{ metadata.url }}</p>{% endif %}
                                        {% if metadata.description %}<hr><p><strong>: Description</strong>{{ metadata.description }}</p>{% endif %}
                                    </div>                                            
                                </div>
                            </div>
                           {% endfor %}
                        </div>
                    </div>

                    <!-- Resources Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="resources">
                        <h4> Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod<br> Pune 411058</h4><br>
                        <iframe src="#" width="640" height="300"></iframe>
                    </div>

                    <!-- Terms Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="termCondition">
                        {% include "terms.html" %}
                    </div>
                  </div>
                
                </div>
                
                    <div class="cart">
                <div class="row">
                    <div class="col-xs-6">
                        <p> 
                            <span class="ticket-count">0</span> Experiments <span class="divider"></span> Time: <span class="total-amount">0</span></p>
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <a class="btn" style="float:left" id="select-button"><i class="fa fa-check"></i></a>
                            <a class="btn text-right" style="float:right" data-toggle="modal" data-target="#ticket-details">PROCEED</a>
                        </div>
                    </div>
                </div>
                </div>
                       
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal right fade" id="ticket-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{{ url_for('static',filename='img/icons/cancel.png') }}">
                   </button>
                   <h4 class="modal-title">Your Battery</h4>
               </div>
               <div class="modal-body">     
                   <div class="contactForm">    
                       <h3>Participant Details</h3>

                       <form action="" method="POST" name='form'>
                          {{ form.hidden_tag() }}

                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                           <div class="form-group">
                               <input id='openid' 
                                      type="text" 
                                      class="form-control" 
                                      name='openid'
                                      placeholder="Enter your Participant ID">
                           </div>

                           {% for error in form.openid.errors %}
                               <span style="color: red;">[{{ error }}]</span>
                           {% endfor %}<br>

                           <div class="form-check">
                               <label class="form-check-label">
                                   <input id="remember_me" name="remember_me" type="checkbox" value="y">
                                      Remember Me
                                   </label>
                           </div>
                          <p style="margin-top:20px"><input type="submit" class="btn"></p>
                       </form>

                   </div>
               </div>
           </div>
       </div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){

    function unselect_experiment(button) {
        $(button).removeClass('experiment-selected')
        $(button).addClass('experiment-unselected');
        $(button).css('background-color', "rgba(0, 0, 0, 0.09)");
    }

    function select_experiment(button) {
        $(button).removeClass('experiment-unselected');
        $(button).addClass('experiment-selected');
        $(button).css('background-color',"#2dc330");
    }

    $('#select-button').click(function(){
        var choices = $('.experiment-select-button');
        if ($(this).hasClass('experiment-selected')){
            unselect_experiment(this);
            unselect_experiment(choices)
        } else {
            select_experiment(this);
            select_experiment(choices)

       }
    });

    {% if toggleform %}
        $("#ticket-details").modal('show');
    {% endif %}

    $(".experiment-select-button").click(function(){
        if ($(this).hasClass('experiment-selected')){
            unselect_experiment(this);
        } else {
            select_experiment(this);
       }
    })
})
</script>
{% endblock %}
