{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-sm-5 left-wrapper">
                <div class="event-banner-wrapper">
                    <div class="logo">
                        <h1>Stage</h1>
                    </div>
                    <img src="{{ url_for('static',filename='img/expfactoryticketyellow.png') }}" 
                         style="width:50%; margin-bottom:50px;">
                    <img src="{{ url_for('static',filename='img/tinypeople.png') }}" 
                         style="width:100%; position: absolute; bottom: 0px; left:0px">             
                    <p><a class="expfactory-blue"
                          href="https://www.github.com/expfactory/expfactory" 
                          target="_blank">the experiment factory</a></p>
                </div>
            </div>
            <div class="col-sm-7 right-wrapper">
                <div class="event-ticket-wrapper">
                    
                    <div class="event-tab">
                
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#doExperiments" aria-controls="doExperiments" role="tab" data-toggle="tab">Experiments</a></li>
                    <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
                    <li role="presentation"><a href="#termCondition" aria-controls="termCondition" role="tab" data-toggle="tab">Terms & Conditions</a></li>
                  </ul>
                
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="doExperiments">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="50000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">
                                            Platinum
                                            <span>Standing<br>
                                            1 Ticket for 1 person</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                            </div>
                                            <p class="price">Rs.50000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="40000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Gold<span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[2]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[2]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[2]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.40000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="25000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Silver <span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[3]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[3]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[3]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.25000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="20000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Diamond<span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[4]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[4]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[4]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.20000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="18000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Ruby<span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[5]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[5]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[5]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.18000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="15000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Pearl<span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[6]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[6]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[6]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.15000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="10000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Emerald<span>
                                        Standing<br>
                                        1 Ticket for 1 person</div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[7]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[7]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[7]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.10000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticketBox" data-ticket-price="5000">
                                    <div class="inactiveStatus"></div>
                                    
                                    <div class="row">
                                        <div class="col-xs-6">
                                        <div class="ticket-name">Plaza<span>
                                        Standing<br>
                                        1 Ticket for 1 person</span></div>
                                    </div>
                                    
                                    <div class="col-xs-6">
                                        <div class="ticket-price-count-box">
                                            <div class="ticket-control">
                                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[8]">
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                      </button>
                                                  </span>
                                                  <input type="text" name="quant[8]" class="form-control input-number" value="0" min="0" max="10">
                                                  <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[8]">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                                </div>
                                                
                                            </div>
                                            <p class="price">Rs.5000</p>
                                        </div>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="ticket-description">
                                        <p><strong>Please refer resources Plan:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="resources">
                        <h4> Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod<br> Pune 411058</h4><br>
                        <iframe src="#" width="640" height="300"></iframe>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="termCondition">
                            {% include "terms.html" %}
                    </div>
                  </div>
                
                </div>
                
                    <div class="cart">
                <div class="row">
                    <div class="col-xs-6">
                        <p> 
                            <span class="ticket-count">0</span> Tickets <span class="divider"></span> Total: Rs. <span class="total-amount">0</span></p>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-right">
                            <a class="btn disabled" data-toggle="modal" data-target="#ticket-details">PROCEED</a>
                        </div>
                    </div>
                </div>
                </div>
                       
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal right fade" id="ticket-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Share your contact Details</h4>
      </div>-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="{{ url_for('static',filename='img/icons/cancel.png') }}">
        </button>
        <h4 class="modal-title">Your Tickets</h4>
      </div>
      <div class="modal-body">
        
        <div class="cart-information">
                <div class="ticket-type"></div>
                  <ul>
                    <li>Tickets: <span class="ticket-count"></span></li>
                    <li>Price: <span class="ticket-amount"></span></li>
                    <hr>
                    <li>Total: <span class="total-amount"></span></li>
                </ul>
            </div>
            
            <div class="contactForm">    
                <h3>Share your contact Details</h3>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your name">
                  </div>
                  
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your Email ID">
                  </div>
                  
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your Mobile No.">
                  </div>
                  
                  <a type="submit" class="btn">Proceed to Payment</a>
                </form>
            </div>
        
        
        
      </div>
    </div>
  </div>

{% endblock %}
